body {
  background-color: #ccffff;
}

a {
  color: #330099;
}

li {
   font-size: 1.1em;
}

li li {
   font-size: 1em;
}

li li li {
   font-size: 1em;
}

li li li li {
   font-size: 1em;
}

a:visited {
  color: #006600;
}

#navBar {
  text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
}

#navBar ul {
  list-style-type: none;
  display: inline-block;
}

#navBar li {
  float: left;
  border-right: 1px solid #bbb;
}

#navBar li a {
  display: block;
  font-size: 1.1em;
  padding: 14px 16px;
}

#navBar li a:hover {
  background-color: #ffff99;
}

#year {
  color: red;
}

.dropdown_bar {
  text-align: center;
}

.drop {
  list-style-type: none;
  display: inline-block;
}

.dropbtn {
  display: block;
  padding: 14px 16px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  padding: 14px 16px;
  display: block;
}

.dropdown:hover {
  background-color: #ffff99;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid #bbb;
}

iframe {
    display: block;
    margin: auto;
    background: #ccffd5;
}

blockquote {
    font-size: 1em;
}

table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}
