---
layout: default
---

<section class="content">
<h1>Thoughts</h1>

<h3>Update: Feb 15, 2018</h3>
<p>I'm currently migrating the Google Drive posts onto this site. I will make
new posts starting today onto this site.</p>
<p>------------------------------------------------------</p>

<p>Older thoughts are archived on Google Drive.<p>

<!--<div id="DriveThoughts">
    <iframe src="https://drive.google.com/embeddedfolderview?id=0Bw28gWUp26esbGtLUEZzSkdVSGc#list" width="700" height="500" style="border-style: solid;"></iframe>
</div>-->

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<br>
<br>
<br>

</section>
