---
layout: default
---

<section class="content">
<h1>Thoughts</h1>

<p>I like talking to people who have read my blog, so please don't hesitate to
   reach out through email. I am open to all kinds of comments and proposals
   that seek to build upon my central beliefs as listed above.</p>
<p>I subscribe to <a href="http://sl4.org/crocker.html">Crocker's Rules</a>.</p>

<p>Older thoughts are archived on <a href="https://drive.google.com/embeddedfolderview?id=0Bw28gWUp26esbGtLUEZzSkdVSGc#list">Google Drive</a>.<p>

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: '%B %d, %Y' }} {{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<br>
<br>
<br>

</section>
