---
layout: default
---

<section class="content">
<h1>Thoughts on Seeking Happiness, Wisdom, and Wealth</h1>

<p>Please don't hesitate to reach out through email.</p>
<p>I subscribe to <a href="http://sl4.org/crocker.html">Crocker's Rules</a>.</p>

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: '%B %d, %Y' }} {{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<br>
<br>
<br>

</section>
