<footer class="footer">
{% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">Github</a>{% endif %}
  {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">Twitter</a>{% endif %}
  <a href="http://facebook.com/kanberrajapan">Support Kanberra Japan!</a>
  <a href="http://oakie-vine.myshopify.com">Wooden Whiskey Tumblers!</a>
  <a href="https://el-iphone-accessories.myshopify.com">iPhone Power Pack and Dual Sim Cases!</a>
</footer> 
