{% include base.html %}

<h1 style="text-align: center">This is <a href="{{base}}/index.html"><img border=0 alt="XDRT_LOGO" src="{{base}}/images/XDRTS_Logo.png" width=180 height=60></a> website</h1>

<div class="dropdown_bar">
<ul class="drop">
  <li class="dropdown">
    <a href="#" class="dropbtn">Menu</a>
    <div class="dropdown-content">
    {% for post in site.posts %}
      {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
      <a href="{{base}}/thoughts.html#{{currentyear}}">{{currentyear}}</a>
        {% capture year %}{{currentyear}}{% endcapture %}
      {% endif %}
    {% endfor %}
    </div>
  </li>
</ul>
</div>
