{% include thoughts_base.html %}

<h1 style="text-align: center">Welcome to <a href="{{base}}/index.html"><img border=0 alt="XDRT_LOGO" src="{{base}}/images/XDRTS_Logo.png" width=180 height=60></a> Home on the Web</h1>

<div id="navBar">
<ul>
  <li><a href="{{base}}/index.html">Home</a></li>
  <li><a href="index.html">Thoughts</a></li>
  <li><a href="{{base}}/books_readings.html">Books & Readings</a></li>
  <li><a href="{{base}}/useful_links.html">Useful Links</a></li>
  <!--<li><a href="{{base}}/resume.html">Resume</a></li>-->
  <li><a href="{{base}}/projects.html">Projects</a></li>
  <li><a href="{{base}}/questions.html">Questions</a></li>
  <li><a href="https://xrdt.github.io/haptic_music/">PaperJS Showcase</a></li>
</ul>
</div>


<!--
  <li><a href="{{base}}/blender.html">Blender Models</a></li>
-->
