---
layout: thoughts
---

<section class="content">
<h1>Thoughts on Seeking Happiness, Wisdom, and Wealth</h1>

<p>New thoughts have migrated <a href="https://dynalist.io/d/1cqc7EaUj1JRAM_1abbSNYtq">here</a>.</p>

<p>I subscribe to <a href="http://sl4.org/crocker.html">Crocker's Rules</a>.</p>

<h3>Three Most Important Factors for Evaluating Opportunities</h3>
<ul>
    <li>People</li>
    <li>Growth</li>
    <li>Projects</li>
</ul>

{% include search-lunr.html %}

{% assign postsByYearMonth = paginator.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
<h3>{{ yearMonth.name }}</h3>
<ul>
  {% for post in yearMonth.items %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: '%B %d, %Y' }} {{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<br>
<br>
<br>

</section>
